/* BODY */

body {
    background: rgba(255, 255, 255, 0.89);
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

header {
    background-color: black;
    background: url(../img/lightback.JPG) no-repeat center top fixed; 
    /* background-size: 100%; */
    /* background-position: bottom; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 100%;
    padding-top: 58%;
    height: 100%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
    }

h1 {
    text-transform: uppercase;
    color:rgba(0, 0, 0, 0.568);
    font-size: 200%;
    font-weight: 100;
    /* margin-right:10%; */
    margin-bottom: 4%;
    font-weight: 100;
}


h1.fixed.title {
    top: 40%;
    width: 100%;
    margin: 0px;
    text-align: center;
    position: absolute;
    padding: 0px;
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
}

img.logos {
    top: 50%;
    width: 20%;
    margin: 0px;
    /* text-align: center; */
    /* position: absolute; */
    /* padding: 0px; */
    font-size: 40px;
    flex-direction: column;
}

h1.fixed.title {
    top: 40%;
    width: 100%;
    margin: 0px;
    text-align: center;
    position: absolute;
    padding: 0px;
    font-size: 40px;
}

/* NAVIGATION*/
nav ul {
    background-color: white;
    margin-right: 0px;
    padding: 0;
    padding-top: 2%;
    list-style-type: none;
    font-weight: lighter;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    padding-bottom: -20px;
    opacity: 80%;
    }

nav li {
    display: inline-block;
    background-color:none;
    height: 5%;
    padding-left: 2%;
    padding-right: 5%;
    margin-bottom: 2%;
    }

nav a {
    color:rgba(0, 0, 0, 0.568);
    text-transform: uppercase;
    margin-top: 0px;
    text-decoration: none;
    font-size: larger;
}

a {
    text-decoration: none;
    font-size: large;
    color:rgba(0, 0, 0, 0.568);
    text-transform: uppercase;
}


a:hover {
    text-decoration: black;
    text-emphasis: bold;
    color: black;
    }

/*IMAGES*/

/* img {
    filter: sepia(90%) hue-rotate(180deg) saturate(70%);
    filter: saturate(70%) grayscale(20%);
    filter: grayscale(20%);
} */

/* EXPERIENCE SECTIONS */

.image {
    position: relative;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.image__img {
    display: block;
    object-fit: cover;
    object-position: 10% 30%;
    height: 250px;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image__overlay:hover {
    opacity: 1;
}

h1.image__description {
    font-size: 50px;
    font-weight: 100;
    margin: 0px;
}

button {
    padding: 0px;
    border: none;
    border-radius: 0;
}

button:focus {
    outline:0;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0% 25% 0% 5%;
}

.collapsible.active {
    opacity: 1;
}

.job {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    color: rgb(15, 34, 70);
    font-weight: 800;
    margin-bottom: 11px;
}

h3 {
    font-weight: 100;
    margin-top: 0px;
    color: rgb(43, 43, 43);
}

.logo h2{
    font-weight: 100;
}

img.narrow {
    height: 100px;
    text-transform: none;
}

.lowercase {
    text-transform: none;
}
